<li id="transaction-<%= transaction.id %> " class="transactions">
  <div class="linkable">
    <!--<!%= link_to gravatar_for(transaction.user, size: 50), transaction.user %>-->
    <!--<span class="user">-->
      <!--<!%= link_to transaction.user do %>-->
        <!--<!%= transaction.user.first_name %> <!%= transaction.user.name %>-->
      <!--<!% end %></span>-->
    <%= link_to transaction_url(transaction.id) do %>
        <div>
          <% date = Time.parse(transaction.travel_date.to_s) %>
          <span class="cities"><%= transaction.dep_city + " " %> &rArr; <%= " " + transaction.arrival_city %></span>
          <% if controller_name == "users" %>
              <span class="travel_date"> <%= date.strftime("On %A %e %B at %k:%M") %> </span>
          <% else %>
              <span class="travel_date"> <%= date.strftime("%k:%M") %> </span>
          <% end %>
          <span class="timestamp">Posted <%= time_ago_in_words(transaction.created_at) %> ago.</span>

        </div>

    <% end %>

  </div>

  <!% if @user && current_user.id == transaction.user_id %>
      <!--<span class="edit" style="text-align:center;"><!%= link_to "edit", edit_transaction_path(transaction),class:"btn btn-sm btn-primary centered"%></span>-->
  <!% end %>
</li>




