<% provide(:title, "Search") %>
<div class="center jumbotron">
  <h1>Welcome to AmigoCar</h1>
  <h2> Here you can search or post a trip </h2>
  <%= link_to "Sign up Now", new_user_path, class: "btn btn-lg btn-primary" %>
</div>

