<!DOCTYPE html>
<html>
  <head>
    <title>AmigoCarClient  | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <!--IE9 - utilities -->
    <%= render 'layouts/shim' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>

    <%= yield %>
    <%= render 'layouts/footer'%>

  </div>
  </body>
</html>
