API for AmigoCar<br>

<ul>
  <li><%= link_to "Users", users_wsdl_path %></li>
  <li><%= link_to "Transactions", transactions_wsdl_path %></li>
  <li><%= link_to "Reservations", reservations_wsdl_path %></li>
</ul>
