
<div class="jumbotron">

  <h3 class="center">
    PROFILE
  </h3>


  <div class="row ">
    <aside class="col-md-4">
      <section class="user_info">

        <%= @user.name %>
        <%= @user.first_name %><br/>
        <%= @user.email %><br/>

        <%= @user.telephone %>


      </section>
    </aside>
  </div>
</div>
